- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      #{if flash[:got_away].nil?
          "music();"
        end}

      var latlng = new google.maps.LatLng(39.2957589, -76.661596);
      var myOptions = {
        zoom: 10,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false
      };
      var map = new google.maps.Map(document.getElementById("map"), myOptions);
      #{render :partial => "load_baddies"}
    });

#header
  = image_tag "header.png"

  #countdown 30


%h1
  %span{:id => "hint"} One of these locations was recently a crime scene.  Guess which one!
  - if session[:score].to_i == 0
    %span{:id => "score"}
      No Score Yet
      = button_to "Reset", reset_path
  - else
    %span{:id => "score"}
      = "#{session[:score]} Million Points"
      = button_to "Reset", reset_path

#baddy
  - if flash[:got_away] == true
    %h1 The Baddy Got Away!
    = image_tag "baddy.gif"
    %h1= link_to "#{flash[:baddy_info].baddygory.name} at #{flash[:baddy_info].address}", flash[:baddy_info].link, :target => "_blank"
  - elsif flash[:got_away] == false
    %h1 You got 'em. Good job buddy!
    = image_tag "coppers.gif"
    %h1= link_to "#{flash[:baddy_info].baddygory.name} at #{flash[:baddy_info].address}", flash[:baddy_info].link, :target => "_blank"
  - else
    = image_tag "logo.png", :style => "margin-top: 45px;"
#map

%div{:align => :center, :style => "clear:both;"}
  %h2
    %blink Real Crimes, Real Baddies, Real Fun.
  = image_tag "icon_netscape.gif"
  = image_tag "atwork.gif"
  = image_tag "eXTReMelogo.gif"
  %br
  = image_tag "counterstyles_01.gif"