!!! Strict
%html
  %head
    %title Spot The Baddie!
    = stylesheet_link_tag "default.css"
    
    = javascript_include_tag "jquery-1.4.2.min.js", "jquery-ui-1.8.1.js", "application.js"
    = javascript_include_tag 'rails'
    %script{:src=> "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAACo7nzUwlskk97gpcLRzjmRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSHRtf-gngziA3hhXodxAD6knRKfg", :type=>"text/javascript"}

    = csrf_meta_tag
    
    = yield(:header_bottom)

  %body
    #contents
      = yield