!!! Strict
%html
  %head
    %title Spot The Baddy!
    = stylesheet_link_tag "default.css"

    = javascript_include_tag "jquery-1.4.2.min.js", "jquery-ui-1.8.1.js", "application.js"
    = javascript_include_tag 'rails'
    %script{:src=> "http://maps.google.com/maps/api/js?sensor=false", :type=>"text/javascript"}

    = csrf_meta_tag

    = yield(:header_bottom)

  %body
    :plain
      <a href="https://github.com/jordanbyron/spot_the_baddy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

    #contents
      = yield

    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15397397-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>